.doctor-index-layer {
  h3 {
    margin-bottom: 0;
  }
  .list-table {
    margin: 60px auto 0;
    .img-thumb {
      max-width: 160px;
    }
    .export-in {
      display: inline-block;
      text-align: left;
    }
  }
}
