.doctor-edit-basic-layer {
  .no-margin-bottom {
    margin-bottom: 0 !important;
  }
  .extra-input-container {
    display: inline-block;
    margin: 0 8px;
  }
  .extra-input-label {
    display: inline-block;
    line-height: 32px;
  }
  .default-input-container {
    display: inline-block;
  }
}
