#loading {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading .ant-spin-text {
  color: #999;
}
